.container{
  width:70%;
  margin: 0 auto;
  padding-top: 60px;
}

input, button{
  border-radius: 10px;
}

button{
  background-color: #61DBFB;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  width: 100px;
  cursor: pointer;
}

input[type="text"]{
  border: none;
  width: 600px;
  padding: 10px;
  font-size: 20px;
  margin-right: 20px;
}

ul{
  list-style: none;
}

.additianal-btns{
  margin:20px;
}

.btn-2{
  background-color: transparent;
  border:1px solid #61DBFB;
  color: #61DBFB;
  width: fit-content;
  margin-right: 20px;
}

.btn-2:hover{
  background-color: #61DBFB;
  color: #fff;
}

/* task */

.tasks-container{
  margin-top: 30px;
  padding-bottom: 30px;
}

.task{
  border-top: 1px solid #8D9196;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#fff;
}

.task .left-text{
  display: flex;
  align-items: center;
}

.task .text{
  width:400px;
  padding-left: 10px;
}

.btn-container{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-container p:hover{
  cursor: pointer;
}

.done{
  color: #8D9196;
}

.black{
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 14;
}

.overlay{
  background-color: #fff;
  width:500px;
  height: 150px;
  margin:0 auto;
  position: absolute;
  padding: 30px 20px;
}

.overlay input{
  width:90%;
  border: 1px solid #8D9196;

}

.overlay button{
  margin: 10px 10px;
  width:20%;
}